.about{
    width:80%;
    margin:auto;
    background-color: whitesmoke;
    border-radius: 20px;
    line-height: 26px;
    font-size: 18px;
    margin-top: 20px;
    padding:5px 30px 30px 30px;
    color:rgb(5,3,41);
    box-shadow: 8px 8px 7px rgb(5,3,41);
    margin-bottom: 50px;
    
}
.marginTop{
    margin-top: 12px;

}